@*@model IEnumerable<VegeFoods.Models.BD_VegeFoods.Product>*@
@model PagedList.IPagedList<VegeFoods.Models.BD_VegeFoods.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Product List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <a href="~/Admin/Product/Create" class="btn btn-success" style="margin-bottom:15px">Create</a>
</div>

<div class="card">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Describe)
                </th>*@
            <th>
                Price
            </th>
            <th>
                Discount
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="row_@item.ID">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Describe)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Ajax.ActionLink("Delete", "Delete", new { id = item.ID }, new AjaxOptions
                    {
                        Confirm = "Do you want to delete this record ?",
                        OnComplete = "$('#row_" + item.ID + "').remove()",
                        HttpMethod = "Delete"
                    })
                </td>
            </tr>
        }


    </table>
</div>

<div class="row mt-3">
    <div class="col text-center">
        <div class="block-27">
            <div style="font-size: 20px; display: flex; justify-content: center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>